@import './slide-style.css';
@import './base.css';
@import "tailwindcss";

#app {
  font-weight: normal;
  /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), 
              url('/imgs/bg1.png') no-repeat center center;
  background-size: cover; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}